extends layout

include mixins/_reviewForm
include mixins/_review

block content
  //- pre=h.dump(store)
  .single
    .single__hero
      //- img( src=`https://lvdesign.com.fr/addressImages/${ store.photo ||'store.png'}`)
      //-  single__image(src=`/uploads/${store.photo || 'store.png'}`) 
      //- https://res.cloudinary.com/dbcbwddro/image/upload/v1603012406/myaddresses/store_dgepjl.png
      img.single__image( src=`https://res.cloudinary.com/dbcbwddro/image/upload/v1603012406/myaddresses/${store.photo ||'store_dgepjl.png'}`)     
      h2.title.title--single 
        a(href=`/store/${store.slug}`) #{store.name}

  .single__details.inner
    img.single__map(src=h.staticMap(store.location.coordinates))
    p.single__location= store.location.address
    a.cat__link(href=`/categories/${categories}`)
      p.single__categories= store.categories

    p.single__summary= store.description

    if store.tags
      ul.tags
        each tag in store.tags
          li.tag
            a.tag__link(href=`/tags/${tag}`)
              span.tag__text  ##{tag}
    
    p 👍 Pour laisser un message 
      a.special(href=`/login/`) connectez vous! 

    if user
      +reviewForm(store)

    if store.reviews
      .reviews
        each review in store.reviews
          .review
            +review(review)
