extends layout

block content
    .inner  
        h2 Top #{stores.length} Stores
        .responsiveTable
            table.table
                thead.thead
                    tr
                        td photo
                        td ranking
                        td name
                        td reviews
                        td Average Rating
                each store,i in stores
                    tr
                        td.txt
                            a(href=`/store/${store.slug}`)
                                //- src=`/uploads/${store.photo ||'store.png' 
                                img.top__img(src=`https://res.cloudinary.com/lvcloud/image/upload/v1603012406/myaddresses/${store.photo ||'store_dgepjl.png' }`)
                        td.txt #{i +1}
                        td.txt
                            a.special(href=`/store/${store.slug}`)= store.name 
                        td.txt= store.reviews.length
                        td.txt #{Math.round(store.averageRating *10)/ 10} /5
        