mixin storeForm(store = {})
    form(action=`/add/${store._id || ''}` method="POST" class="card" enctype="multipart/form-data")
        label(for="name") Nom :
        input(type="text" name="name" value=store.name)

        label(for="description") Votre description :
        textarea( name="description" )= store.description


        label(for="photo") Ajouter une photo ?
        input(type="file" name="photo" id="photo" accept="image/png, image/jpeg")
        if store.photo
            img(src=`/uploads/${store.photo}` alt=store.name width=200)


        //- address
        label(for="address") Adresse :
        input(type="text" name="location[address]" id="address"  value=(store.location && store.location.address ) )
        
        label(for="lng") 
        input(type="hidden" id="lng" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0] ) required)
        label(for="lat") 
        input(type="hidden" id="lat" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1] ) required )

        
        //- categories
        p 
         em Choisissez une catégorie
        - const choix =['Restaurant','Bar','Hôtel','Boutique','Services']
        - const categories = store.categories || ''
        
        ul.cats
            each c in choix
             .cat.cat__choice
                input(type="radio" id=c value=c name="categories" checked=(categories.includes(c)))
                label(for="c") #{c}

        //- tags
        p
            em  Sélectionnez des tags appropriés
        - const choices = ['Wifi','Fashion','Familiale','Ootd','Lifestyle','Tip','Omnomnom','Homemade','Techie','Fitlife'] 
        - const  tags = store.tags || []    
        ul.tags
            each choice in choices
             .tag.tag__choice
                input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
                label(for="choice") #{choice}
        
        

        input(type="submit" value= "Sauvegardez votre adresse" class="button")
