mixin storeCard(store={})
    if store.private !='oui'
        .store        
            .store__hero
                .store__actions
                    //- heart action
                    //- pre= h.dump(store)
                    if user  
                        .store__action.store__action--heart
                            form.heart(method="POST" action=`/api/stores/${store._id}/heart`)
                                - const heartStrings = user.hearts.map(obj =>obj.toString() )
                                - const heartClass = heartStrings.includes(store._id.toString()) ? 'heart__button--hearted' : ''
                                //- pre= h.dump(heartStrings)
                                //- pre= h.dump(store._id)
                                button.heart__button(type="submit" name="heart" class=heartClass)
                                    !=h.icon('heart')
                    //- if user && store.author.equals(user._id) 
                    if user && store.author != user._id 
                        .store__action.store__action--edit
                            a(href=`/stores/${store._id}/edit`) 
                                !=h.icon('pencil') 

                    if store.reviews
                        .store__action.store__action--count
                            !=h.icon('review')
                            span= store.reviews.length  
                    //- img(src=`https://res.cloudinary.com/lvcloud/image/upload/v1603012406/myaddresses/${store.photo ||'store_dgepjl.png'}`)
                    //- https://res.cloudinary.com/lvcloud/image/upload/v1621272034/myaddresses/dcd40d47-16bf-48cd-ae74-cb1caddeeec8.jpeg.jpg
                    //- img( src=`/uploads/${store.photo || 'store.png'}`)
                    //- src=`https://lvdesign.com.fr/addressImages/${ store.photo ||'store.png'}`
                    //- https://res.cloudinary.com/lvcloud/image/upload/v1621272375/myaddresses/${store.photo}
                    //- https://res.cloudinary.com/lvcloud/image/upload/v1603012406/myaddresses/7aa54244-e52b-4ec0-97bf-de3fd16c7cba.jpeg
                img(src=`https://res.cloudinary.com/lvcloud/image/upload/v1621352680/myaddresses/${store.photo ||'store_dgepjl.png'}`)
                h2.title
                    a(href=`/store/${store.slug}`) #{store.name}
            
            .store__details
                p.categories= store.categories
                //-p Par #{store.author.name}
                //- em (#{h.moment(store.created).format("LL")} )
                
                //- p= store.description.split(' ').slice(0, 25).join(' ')
                    //- p.priv #{store.private}
